# Runtime generated exports
exports/*
!exports/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Database
database/*.db

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env